$blue: #000626
$Light_Blue: #000C4F
$orange: #FF5A00
$grey: #E8E8E8
@mixin diagrama_content($color)
	background: $color
	width: 100%
	height: auto
	display: flex
	flex-wrap: wrap
	justify-content: space-around
	margin-bottom: 3%
	box-shadow: 0px 10px 20px rgba(0, 0, 0, .3)