body, div, figure, ul, li, a, h1, p {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  font-family: "Montserrat", sans-serif; }

body {
  width: 100%;
  height: 100%; }

h1 {
  font-size: 1em;
  text-align: right;
  width: 100%; }

::-webkit-scrollbar {
  width: 5px; }

::-webkit-scrollbar-thumb {
  background: #FF5A00; }

.menu-bar {
  display: none;
  background: #000626;
  width: 100%;
  padding: 2%;
  position: fixed; }
  .menu-bar a {
    color: white;
    font-size: 1.5em;
    margin-right: 5%; }

.header {
  background: #000626;
  color: white;
  height: 100%;
  width: 30%;
  position: fixed;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-content: space-between;
  overflow: scroll;
  overflow-x: hidden; }
  .header .caja-arriba {
    width: 80%;
    margin-top: 20%; }
    .header .caja-arriba .cabecera {
      position: relative;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      padding: 5% 5% 30% 5%; }
      .header .caja-arriba .cabecera p {
        font-size: 0.7em;
        text-align: right; }
      .header .caja-arriba .cabecera figure img {
        position: absolute;
        left: -10%;
        top: -30%;
        width: 50%; }
  .header .menu {
    margin-top: 30%; }
    .header .menu ul {
      margin-top: 5%; }
    .header .menu li {
      padding: 5% 0 5% 5%;
      font-size: 1em;
      padding: 5%;
      position: relative; }
      .header .menu li .menu-down {
        display: none;
        positiona: absolute;
        background: #000626;
        z-index: 1; }
      .header .menu li a {
        color: white;
        display: flex;
        justify-content: space-between;
        align-items: center; }
      .header .menu li a.color-icon:hover {
        color: #FF5A00; }
  .header .color-icon {
    opacity: 0.7;
    font-size: 1em;
    color: white; }
    .header .color-icon:active {
      color: #FF5A00; }
  .header .caja-abajo {
    width: 100%;
    height: 20%; }
  .header .footer {
    width: 70%;
    margin: 7% 0; }
    .header .footer ul {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between; }

@media screen and (max-width: 800px) {
  .menu-bar {
    display: flex;
    align-items: center;
    justify-content: flex-end; }

  .header {
    width: 40%;
    height: 100%;
    padding: 0;
    left: -100%; }
    .header .caja-arriba {
      margin: 10% 5% 5% 5%; }
      .header .caja-arriba .cabecera figure img {
        top: -10%; }
    .header .caja-abajo {
      margin: 0 5%; }
    .header .footer {
      margin: 5%; } }
@media screen and (max-width: 500px) {
  .menu-bar {
    display: flex;
    align-items: center;
    justify-content: flex-end; }

  .header {
    margin-top: 10%;
    width: 80%;
    height: 95%;
    padding: 0;
    left: -100%; }
    .header .caja-arriba {
      margin: 10% 5% 5% 5%; }
      .header .caja-arriba .cabecera figure img {
        top: -20%; }
    .header .caja-abajo {
      margin: 0 5%; }
    .header .footer {
      margin: 5%; } }
@impor '_variables.sass';
.contenido {
  background: grey;
  width: 70%;
  height: auto;
  margin-left: 30%; }
  .contenido span {
    background: grey;
    width: 300px;
    height: 300px;
    margin: 50px; }
  .contenido .intro {
    background: green;
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap; }
  .contenido .portafolio {
    background: purple;
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap; }
  .contenido .ilustracion {
    background: orange;
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap; }
  .contenido .diagramacion {
    background: black;
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap; }
  .contenido .web {
    background: yellow;
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap; }
  .contenido .acerca {
    background: blue;
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap; }
  .contenido .mensaje {
    background: red;
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap; }

@media screen and (max-width: 800px) {
  .contenido {
    margin-left: 0;
    width: 100%; } }

/*# sourceMappingURL=styles.css.map */
