+card('ps40-sm.jpg','ps40-md.jpg','ps40-lg.jpg','titulo imagen 1', 'Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.')
//- +card('ps41.jpg','ps41-md.jpg','ps44-lg.jpg','titulo imagen 1', 'Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.')
//- +card('ps42.jpg','ps42-md.jpg','ps42-lg.jpg','titulo imagen 1', 'Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.')
//- +card('ps43.jpg','ps43-md.jpg','ps43-lg.jpg','titulo imagen 1', 'Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.')
//- +card('ps44.jpg','ps44-md.jpg','ps44-lg.jpg','titulo imagen 1', 'Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.')
//- +card('ps45.jpg','ps45-md.jpg','ps45-lg.jpg','titulo imagen 1', 'Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.')
//- +card('ps46.jpg','ps46-md.jpg','ps46-lg.jpg','titulo imagen 1', 'Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.')
//- +card('ps47.jpg','ps47-md.jpg','ps47-lg.jpg','titulo imagen 1', 'Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.')
//- +card('ps48.jpg','ps48-md.jpg','ps48-lg.jpg','titulo imagen 1', 'Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.')