nav(class='nav' id='btnNav')
	div(class='nav__icon' id='btnClose')
		img(src='images/icons/ico-'+icons[1] alt='Icono Cerrar')
	ul.nav__list
		li
			h2 Servicios
		each list in listServices
			li
				a(href='#'+list.id)= list.name