include bin/_variables.pug
include bin/_mixins.pug
doctype html
html(lang='es')
	include components/_heads.pug
	body
		include components/_headers.pug
		include components/_navs.pug
		include components/_hero.pug
		include components/_footer.pug
		script(src="https://kit.fontawesome.com/bc6df4c6ba.js" crossorigin="anonymous")
		script(src='js/nav.js')