include bin/_variables.pug
include bin/_mixins.pug
doctype html
html(lang='es')
	include components/_heads.pug
	body
		include components/_headers.pug
		include components/_navs.pug
		include components/_profiles.pug
		include components/_heros.pug
		include components/_footers.pug
		include components/_imgModals.pug
		script(src="https://kit.fontawesome.com/bc6df4c6ba.js" crossorigin="anonymous")
		script(src='js/nav.js')
		script(src='js/galery.js')