.btn
	font-size font_size-paragraph
	padding size_padding
	border none
	&:active
		translate .5s
		transform scale(.95)
.btn-primary
	background color_third
	color color_light
	width 50%
	justify-self center
.badge-wrap
	flex_position()
	flex-wrap wrap
	justify-content flex-start
.badge
	font-size font_size-more
	font-weight bold
	margin 1rem 0 0 3rem
	padding .4rem
	text-transform uppercase
.badge-one
	background color_third
	color color_light