.footer
    background color_third
    color color_light
    padding size_padding 0
    flex_position(flex,column)
    ul
        width 100%
        flex_position(flex, row, space-evenly, center)
    a
        color color_light
    h6, span
        margin-top size_padding
        font-size font_size-paragraph - 1rem
        font-weight normal
    span
        font-weight bold