.items__container
	margin-top 1rem
	padding-bottom 1rem
	border-bottom solid 2px
.item
	display grid
	grid-template-rows auto 1fr auto
	img
		width 100%
	button
		font-size font_size-title
		background color_third
		border solid 2px color_third
		color color_light
		padding size_padding
.item__texts
	padding font_size-subtitle
	h3
		font-size font_size-subtitle
		margin-bottom font_size-subtitle
	p
		font-size font_size-paragraph