.items__container
	margin-top 1rem
	padding-bottom 1rem
	border-bottom solid 2px
.item
	display grid
	grid-template-rows auto 1fr auto
	img
		width 100%
.item__texts
	padding font_size-subtitle
	h3
		font-size font_size-subtitle
		margin-bottom font_size-subtitle
	p
		font-size font_size-paragraph