.header
	background color_first
	color color_light
	padding-left 5rem
	flex_position(flex, row, space-between, center)
	h1
		font-size font_size-title
.header__icon
	burgerNavIco(fixed, 1rem)
	flex_position()
	i
		font-size 8rem