.header
	color color_first
	flex_position(flex, row, space-between, center)
	h1
		font-size font_size-title
.header__icon
	burgerNavIco(fixed, 1rem, alpha(color_first, .2),color_first)
	flex_position()
	img
		width size_icos