.imgModal
    background alpha(color_dark,.9)
    position absolute
    top 0
    right 0
    bottom 0
    left 0
    color color_light
    display none
.modal__icon
    burgerNavIco(absolute, .1rem,alpha(color_light, .2))
    flex_position()
	i
		font-size font_size-title
.imgModal__container
    margin-top size_icos * 2