.profile__container
    flex_position(flex,column)
    h1
        font-size font_size-title
        margin-top size_padding *2
        text-transform uppercase
    h3, span
        font-size font_size-paragraph - 1rem
    figure
        width 50%
        height 50%
        border-radius 50%
        box-shadow 0px 0px 17px 5px rgba(0,0,0,0.23);
        overflow hidden
        padding size_padding * 2
    img
        width 100%